<div ng-controller="advisorsettingscontroller">

    <form ng-submit="updateadvisorsettings()">
        <div class="panel panel-warning">
            <div class="panel-heading"><b> Change your current password</b></div>
            <div class="panel-body">
             
                    <div class="row page-header">
                        <div class="col-sm-3"> <label style="font-size:125%"><b>New Password:</b> </label> </div>
                        <div class="col-sm-4">

                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" ng-model="advisornewpassword" ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" class="form-control" pattern=".{5,10}" required title="5 to 10 characters">

                            <br>
                            <div class="form-group">
                                <label>Password Strength</label>
                                <password-strength ng-model="advisornewpassword"></password-strength>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"> <label style="font-size:125%"><b>Confirm Password:</b> </label> </div>
                        <div class="col-sm-4">
                            <input type="password" name="password" id="password" ng-model="advisornewpassword2" ng-init="advisornewpassword2=''" class="form-control">
                            <br>
                            <div style="color:red" ng-if="advisornewpassword2!='' && advisornewpassword2!=advisornewpassword"> Passwords don't match</div>
                        </div>
                    </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <button style="font-size:125%" type="submit" ng-disabled="advisornewpassword2!=advisornewpassword">Update my settings</button>
                </div>
            </div>
        </div>
    </form>
</div>