<div class="modal-header">
    <h4 class="modal-title">Modifying "{{studentName}}" </h4>
</div>
<form role="form" ng-submit="modify()">
    <div class="modal-body">

        <div class="form-group row">
            <label for="search" style="font-size:120%" class="col-sm-3"><u>First Name:</u></label>
            <input type="string" ng-model="newstudentID.firstname" autofocus>
        </div>
        <div class="form-group row">
            <label for="search" style="font-size:120%" class="col-sm-3"><u>Last Name:</u></label>
            <input type="string" ng-model="newstudentID.lastname">
        </div>
        <div class="form-group row">
            <label for="search" style="font-size:120%" class="col-sm-3"><u>Username:</u></label>
            <input type="string" ng-model="newstudentID.username" autofocus>
        </div>

        <div class="form-group row">

            <label for="search" style="font-size:120%" class="col-sm-3"><u>Email:</u></label>
            <input type="string" ng-model="newstudentID.email"> <br>
        </div>
        <div class="form-group row">
            <label for="search" style="font-size:120%" class="col-sm-3"><u>ID:</u></label>
            <input type="string" ng-model="newstudentID.id">
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <div style="float:left">
            <button class="btn btn-danger" type="button" ng-click="delete()" confirm="WARNING: You are about to delete a student. The student will not be able to login and track his checksheet status. Are you sure?" confirm-title="Deleting {{studentName}}.." confirm-ok="Yes" confirm-cancel="No">Delete</button>
        </div>
    </div>
</form>