<div ng-controller="addexistingstudentController">

<div class="page-header" style="font-size:120%"> 




<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>







<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     You are about to add an existing student as your advisee. You will link a checksheet prototype with a current student. The new checksheet about to be linked with the student will not have mandatory rules enforced and will serve as a reference and filler which they will be able to use in conjunction with their original checksheet. Refer to the documentation for more information.
  </div>
</div>

<div class="row" ng-show="divshow">
<form ng-submit="searchexistingstudent()" style="font-size:90%;">
<div class="container" style="line-height:30px;">
<br><br>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Student ID:</b> </label> </div><div class="col-sm-5"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="studentid" required ></div>
<div class="col-sm-3"><button type="submit"><i class="fa fa-fw fa-search"></i> Search student by ID</button></div>

</div>

</div>

</form>
</div>


<div class="row" ng-show="!divshow">

<div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>First Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="studentdetails.firstname" readonly ></div>
</div>
<div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>Last Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="studentdetails.lastname" readonly></div>
</div>
<div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>ID (Unique):</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="studentdetails.id" readonly></div>
</div>
<div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>Username:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="studentdetails.username" readonly></div>
</div>


     <div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>Email:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="studentdetails.email" readonly></div>
</div>

     <div class="row">  <div class="col-sm-1"></div>
  <div class="col-sm-3">    <label style="font-size:125%"><b>Major:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="studentdetails.department" readonly></div>
</div>
  <div class="row">  <div class="col-sm-1"></div>
  <div class="col-sm-8">  
<br><br><br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Advisor information</h3>
  </div>
  <div class="panel-body">
   		<ul ng-repeat="advisor in studentadvisor |unique: '_id'" class="page-header">

			<li> Advisor Name: {{advisor.firstname}} {{advisor.lastname}}</li>
			<li> Advisor Department: {{advisor.department}}</li>
			<li> Advisor Email: {{advisor.email}}</li>
			<li> Advisor Office: {{advisor.office}}</li>
			<li> Advisor Phone: {{advisor.phone}}</li>
			<li> Advisor ID: {{advisor.id}}</li>
			
			<br>

   		</ul>


  </div>

</div>

</div>
</div>
<br>
 <div class="row">  <div class="col-sm-1"></div>
  <div class="col-sm-8">  
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Checksheet Information</h3>
  </div>
  <div class="panel-body">
   		<ul ng-repeat="checksheet in studentchecksheet |unique: '_id'" class="page-header">

			<li> Checksheet Name: {{checksheet.name}} </li>
			<li> Checksheet Department: {{checksheet.department}}</li>
			<li> Checksheet Description: {{checksheet.description}}</li>
			<li> Checksheet Type: {{checksheet.type}}</li>
			<li> Checksheet Credits: {{checksheet.credits}}</li>
			<li> Checksheet ID: {{checksheet.id}}</li>
			
			<br>

   		</ul>


  </div>

</div>

</div>
</div>

<br>
<div class="row">
	<div class="row"><div class="col-sm-1"></div>
	<label style="font-size:100%"><b>Match student with a new checksheet:</b> </label>
</div><br>
<div class="row">  <div class="col-sm-1">     </div>
  <div class="col-sm-3"> 
   <label  style="font-size:125%">Department: </label><br> 

   <select ng-model="chksdepartment" ng-init="chksdepartment='None'" required>
   	<option ng-repeat="checksheet in checksheets | unique: 'department'">{{checksheet.department}}</option>
   </select>

    

</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3" > 
      <label  style="font-size:125%">Checksheet: </label><br>

   <select ng-model="checksheetid" style="width:300px" ng-options="checksheet as checksheet.name for checksheet in checksheets | filter:{department:chksdepartment} track by $index" ng-init="checksheetid=checksheets[0]" required>
        
             </select>



</div>

  <div class="col-sm-3"><br><button type="button" type="button" ng-click="isCollapsed = !isCollapsed" style="font-size:105%"><i class="fa fa-toggle-on" ng-show="isCollapsed"></i> <i class="fa fa-toggle-off" ng-show="!isCollapsed"></i>

See checksheet info</button>
</div>


</div>
<br>
<div class="row"> <div class="col-sm-1"></div><div class="col-sm-10">
	<div uib-collapse="!isCollapsed">
		<div class="well well-lg">



     <div class="row"><div class="col-sm-3">Checksheet Name:</div>{{checksheetid.name}} </div> 
         <div class="row"><div class="col-sm-3">Checksheet ID:</div>{{checksheetid.id}} </div>

      <div class="row"><div class="col-sm-3">Checksheet Type:</div>{{checksheetid.type}} </div>
       <div class="row"><div class="col-sm-3">Checksheet Department:</div>{{checksheetid.department}} </div>
        <div class="row"><div class="col-sm-3">Total Credits in checksheet:</div>{{checksheetid.credits}} </div>
         <div class="row"><div class="col-sm-3">Checksheet Description:</div>{{checksheetid.description}} </div>
      


    </div>
	</div>
	</div>
</div>

<div class="row"><div class="col-sm-1"></div>

<br><br>
<div class="col-sm-1"></div>
<button type="button"  style="font-size:125%" ng-click="updatestudent()" confirm="WARNING: You are about to match a new checksheet with a student. You will be added as one of his advisors and will be able to view his checksheets. Are you sure you want to continue?" confirm-title="Matching with an existing student.." confirm-ok="Yes" confirm-cancel="No"><i class="fa fa-plus"></i> Submit new checksheet to student</button>
<button type="button" ng-click="divshow=!divshow" style="font-size:125%" ><i class="fa fa-times"></i> Cancel</button>
</div>





</div>