<div ng-controller="blockController">

<div class="page-header" style="font-size:120%"> 
<!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->


&nbsp;&nbsp;&nbsp;
<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>






<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     Checksheets blocks are representation of checksheets slots. You can combine multiple blocks to build a checksheet. Blocks can be reused on multiple checksheet. Refer to the documentation for more information.
  </div>
</div>
<form ng-submit="" style="font-size:90%;">
<div class="container" style="line-height:30px;">

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Block Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="arraytoAdd[0].firstname" required ></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Last Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].lastname" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>ID (Unique):</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].id" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Username:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].username" required></div>
</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Password:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50"  ng-model="arraytoAdd[0].password" ng-init="arraytoAdd[0].password=generatepwd()"required>
     <input type="hidden" size="50"  ng-init="false" ng-model="arraytoAdd[0].registered" >
  </div> 
     <div class="col-sm-2"></div> <button type="button" ng-click="arraytoAdd[0].password=generatepwd()"> <i class="fa fa-fw fa-random"></i> Generate a different password</button> </div>
     <div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Email:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].email" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Phone:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].phone" required></div>
</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Department:</b> </label> </div>
  <div class="col-sm-4" style="font-size:125%"> 

      <select ng-model="arraytoAdd[0].department" style="width:300px" required>
                   <option ng-repeat="dpt in dpts" >{{dpt.name}}</option>
             </select> 
   
  </div>


</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Office:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].office" required></div>
</div>
<br><br>
</div>
<button style="font-size:125%" type="submit" >
	<i class="fa fa-fw fa-check"></i>Submit checksheet block to the database
</button></form></div>



