<div ng-controller="blockController">

<div class="page-header" style="font-size:120%"> 
<!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->


&nbsp;&nbsp;&nbsp;
<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>






<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     Checksheets blocks are representation of similar types of checksheets slots. You can combine multiple blocks to build a checksheet. Blocks can be reused on multiple checksheet. Refer to the documentation for more information.
  </div>
</div>
<form name="blockcreator" style="font-size:90%;" ng-submit="buildBlock()" >
<div class="container" style="line-height:30px;">
<!--     name: String,   id: String, credits: Number,  type: String,
   
    
    details: Object,
    department: String,
    createdby: String,
   -->

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Block Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="block.name" required ></div>
</div>



<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Block ID (unique):</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="block.id" required></div>
</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Block Category:</b> </label> </div>
  <div class="col-sm-4" style="font-size:125%"> 

<!--       <select ng-init="block.department=dpts[2].name"  ng-model="block.department"  style="width:300px" ng-options="dpt.name for dpt in dpts" required>
                <option></option>
             </select> 
 -->   
 <select  ng-model="block.department" style="width:300px" required>
 <option ng-selected="dpt.name == block.department" 
        ng-repeat="dpt in dpts" >{{dpt.name}}</option>
</select>
  </div>


</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Block Type:</b> </label> </div>  <div class="col-sm-4" style="font-size:125%"> 





      <select ng-model="block.type" style="width:300px" required>
                   <option ng-selected="1">  Required</option>
                   <option> Electives</option>
                   <option> Concomitant/Competencies</option>
             </select> 
   
  </div></div>

<div class="row">

  <div class="col-sm-2">    <label style="font-size:125%"><b>Number of slots:</b> </label> </div><div class="col-sm-1"> 
    <input type="number" size="5" min="1" max="40" ng-model="block.slots" required></div>

</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Total Credits:</b> </label> </div><div class="col-sm-1"> 
    <input type="number" size="5" ng-value="block.slots*3" readonly></div>

</div>




<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Created by:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="fullname" readonly></div>
</div>

<br><br>

</div>
<button style="font-size:125%" type="submit">
	<i class="fa fa-fw fa-gears"></i> Start building block
</button></form></div>



