<div ng-controller="advisorchecksheetController">

    <div class="page-header" style="font-size:120%">
        <!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->


        &nbsp;&nbsp;&nbsp;
        <a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
        &nbsp;&nbsp;&nbsp;

    </div>





    <div>

        <div class="panel panel-default">
            <div class="panel-body" style="font-size:125%">
                Checksheet prototypes are representation of empty checksheet. One can make a copy of existing checksheet and add different blocks to it or create a new checksheet from scratch by combining unique checksheet blocks. Refer to documentation for more information.

            </div>
        </div>
    </div>

</div> <!-- End of closetop controller div -->