        <div class="modal-header">
            <h4 class="modal-title">Modifying "{{depName}}" department </h4>
        </div> <form role="form" ng-submit="modify()">
        <div class="modal-body">
       
            <div class="form-group row">
            <label for="search" style="font-size:120%" class="col-sm-2"><u>Name:</u></label>
              <input type="string" ng-model="newID.name" autofocus>
             </div>
            <div class="form-group row">
                 <label for="search" style="font-size:120%" class="col-sm-2"><u>ID:</u></label>
              <input type="string" ng-model="newID.id">
</div><div class="form-group row">

     

                 <label for="search" style="font-size:120%" class="col-sm-2"><u>Office:</u></label>
              <input type="string" ng-model="newID.office">   <br>
</div><div class="form-group row">
                 <label for="search" style="font-size:120%" class="col-sm-2"><u>Phone:</u></label>
              <input type="string" ng-model="newID.phone">
        </div>
    </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> 
            <div style="float:left">
            <button class="btn btn-danger" type="button" ng-click="delete()"
             confirm="WARNING: You are about to delete a department. This might affect other people's account. Are you sure?" confirm-title="Deleting {{depName}}.." confirm-ok="Yes" confirm-cancel="No">Delete</button>
                </div>
        </div></form>