<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand"> <i class="fa fa-list-alt fa-sm"></i> &nbsp;&nbsp; Kutztown Syllabus Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-click="setUser('root');" href='#login'>Root</a> </li><!-- set user type for factory -->
                <li><a ng-click="setUser('student');" href='#login'>Student</a> </li>
                <li><a ng-click="setUser('advisor');" href='#login'>Advisor</a> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#student">Tutorial</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="row" style="border:0px solid black">

    <div class="col-lg-4">

        <img src="img/{{userType}}.jpg" height="100%" width="100%" alt="">

    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        {{userType | firstCapitalize}} login portal<br><br><!-- Filter used -->
        <form id="rootLogin" ng-submit="submit()">
            <div class="input-group input-group-lg">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="emailAddon">Username</span>
                    <input type="text" class="form-control" placeholder="Enter your KU Email ID" aria-describedby="emailAddon" name="Email" ng-model="Email" autofocus="autofocus">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="pwdAddon">Password</span>
                    <input type="password" class="form-control" placeholder="" aria-describedby="pwdAddon" name="Password" ng-model="Password">
                </div>
                <br><br>

                <button class="btn-lg btn-primary" type="submit">  Login <i class="fa fa-sign-in fa-lg"></i></button><!-- Talk to database for authorization -->

            </div>
        </form>
    </div>