<div ng-controller="rootClassController">
<br>

<div class="page-header" style="font-size:120%"> 
<a href="#" ng-click = "settemplateURL('partials/addnewclass.html')"> <i class="fa fa-fw fa-plus"></i> Add a new class </a>
&nbsp;&nbsp;&nbsp;
<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>
<b>Current Page: {{ currentPage }}</b> 
<br><br>		
<div class="row">
<div class="col-xs-4">
              <label for="search" style="font-size:120%"><u>Search:</u></label>
              <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-2">
              <label for="search" style="font-size:120%"><u>Items per page:</u></label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>

<br>
<br><span style="font-size:125%"><u><b>
Class List</u>:<br></b>
</span>
<div class="table-responsive">

<table class="table table-bordered table-hover table-condensed" style="font-size:125%">
    <thead>
    <tr class="info">


        <th>Class Code</th>
        <th>Department</th>
        <th>Name</th>       

        <th>Modify</th>
        </tr>
  </thead>
  <tbody>
    <tr dir-paginate="course in courses | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="classes">
        <td>{{course.prefix}} {{course.suffix}}</td>
        <td>{{course.department}}</td>
        <td>{{course.name}}</td>

       
        <td> <a href="#" ng-Click="modifyclass(course)"> Edit </a> </td>

    </tr>
</tbody>
</table>
</div>
<br><br>

 <dir-pagination-controls boundary-links="true" template-url="partials/dirPagination.tpl.html" pagination-id="classes"></dir-pagination-controls>


</div>


