<h1 class="page-header">Departments</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
             List of departments
              <h4>
                        Root
 <button ng-click="logout()"> Logout </button>
<br>THIS is {{username}}, and he is of type {{usertype}}!! <br>

Is he logged in : {{lol}} 

</h4>
       
            </div>
            
          </div>

          <h2 class="sub-header">Class List</h2>
          <div class="row">
			Class list table..
          </div>
        </div>