<div ng-controller="rootmanagerController">

<div class="page-header" style="font-size:120%"> 
<a href="#" ng-click = "settemplateURL('partials/newrootuser.html')"> <i class="fa fa-fw fa-times"></i> Cancel Registering Root users </a>


&nbsp;&nbsp;&nbsp;
<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>
<br><br>

<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     A root user will have the same privileges as you do. This includes adding other root users and making changes to sensitive database information such as department, classes and advisors. Please make sure the root user you are adding has gone through the documentation for KSM.
  </div>  </div><br><br>


<form ng-submit="addRoots()" style="line-height: 30px;" >

<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>First Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="newroot.firstname" required ></div>
</div>
<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>Last Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="newroot.lastname" required></div>
</div>
<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>Phone:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="newroot.phone" required></div>
</div>
<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>Username:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="newroot.username" required></div>
</div>

<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>Password:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="newroot.password" required></div> 
     <div class="col-sm-2"></div> <button type="button" ng-init="generatepwd()" ng-click="generatepwd()"> <i class="fa fa-fw fa-random"></i> Generate a different password</button> </div>

<div class="row">
	<div class="col-sm-2">    <label style="font-size:125%"><b>Email:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="newroot.email" required></div>
</div>
<br><br>

<button style="font-size:125%" type="submit">
	<i class="fa fa-fw fa-user-plus"></i> Register & send login info to new root user

</button></form>






</div>