<div ng-controller="rootviewstudentsController">
<br>

<div class="page-header" style="font-size:120%"> 

<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>


</div>



<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     You can look through a student's current checksheet by accessing their profile through their student id. Set up an advisor account to access functionalities that require checksheet modification and interaction with student. 
  </div>
</div>


<div class="row" ng-show="divshow == 0">
<form ng-submit="rootsearchexistingstudent()" style="font-size:90%;">
<div class="container" style="line-height:30px;">
<br><br>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Student ID:</b> </label> </div><div class="col-sm-5"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="studentidtosearch" required ></div>
<div class="col-sm-3"><button type="submit" style="font-size:125%"><i class="fa fa-fw fa-search"></i> Search student by ID</button></div>

</div>

</div>

</form>
</div>

<div ng-if="divshow== 1 && studentfound==1">
		<div class="panel panel-success">
  <div class="panel-heading"><b>Showing Info for: {{rstudentdetails.firstname}} {{rstudentdetails.lastname}} </b></div>


  <div class="panel-body" style="font-size:125%">
  <div class="row container">
	<div class="col-sm-2"> Name: </div>
	<div class="col-sm-6"> {{rstudentdetails.firstname}} {{rstudentdetails.lastname}} </div>
  </div>

<div class="row container">
	<div class="col-sm-2"> Username: </div>
	<div class="col-sm-6"> {{rstudentdetails.username}} </div>
  </div>


<div class="row container">
	<div class="col-sm-2"> Email: </div>
	<div class="col-sm-6"> {{rstudentdetails.email}} </div>
  </div>


<div class="row container">
	<div class="col-sm-2"> ID: </div>
	<div class="col-sm-6"> {{rstudentdetails.id}} </div>
  </div>


<div class="row container">
	<div class="col-sm-2"> Major: </div>
	<div class="col-sm-6"> {{rstudentdetails.department}} </div>
  </div>

<div class="row container">
	<div class="col-sm-2"> Advisor: </div>
		<div class="col-sm-10"> 
	<ul>
  	<li ng-repeat="advisor in rstudentadvisor">{{advisor.firstname}} {{advisor.lastname}} [<b>Email:</b> {{advisor.email}}], [<b>ID:</b> {{advisor.id}}] from {{advisor.department}} department.
  	</li>
	</ul>
</div>

 </div>


<div class="row container">
	<div class="col-sm-2"> Advisor: </div>
		<div class="col-sm-10"> 
	<ul>
  	<li ng-repeat="checksheet in rstudentchecksheet"><a href="#">{{checksheet.name}}</a> [<b>Type:</b> {{checksheet.type}}], [<b>ID:</b> {{checksheet.id}}]
  	</li>
	</ul>
</div>

 </div>


</div>
</div>
</div>


<div ng-if="divshow==1 && studentfound==0">

	<div class="panel panel-danger">
  <div class="panel-heading"><b>Error</b></div>
  <div class="panel-body">Student not found!</div>
</div>

</div>

</div>