<div ng-controller="setadvisingcontroller">



<div class="page-header" style="font-size:120%"> 
<!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->



<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>


<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
    Advising appointment times can be set in the interval of certain time limits. Note that if you make changes to your advising appointment times after you broadcast it to your students, you will be responsible for notifying them the changed times. Refer to the documentation for more information.
  </div>
</div>

<div style="font-size:125%">

  <br>
<u>Allocate advising time slots for a week:</u><br>

<br>
<div class="row">
<div class="col-xs-3">
              <label style="font-size:100%"><u>Day:</u> &nbsp;&nbsp;</label>
              <select ng-model="timeDay" ng-init="timeDay='S'">
              	<option value="S">Sunday</option>
              	<option value="M">Monday</option>
              	<option value="T">Tuesday</option>
              	<option value="W">Wednesday</option>
              	<option value="TH">Thursday</option>
              	<option value="F">Friday</option>
              	<option value="SA">Saturday</option>
              </select>
</div>
<div class="col-xs-1">Time:</div>
<div class="col-xs-4">

       From<br>
       <select ng-model="timeMinHr" ng-init="timeMinHr='1'">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
      </select>
      :
      <select ng-model="timeMinMin" ng-init="timeMinMin='00'" >
                <option>00</option>
                <option>30</option>
      </select>

      <button type="button" ng-if="timeMinAMPM=='PM'" ng-click="setMinAMPM('AM')">PM</button>
      <button type="button"  ng-if="timeMinAMPM=='AM'" ng-click="setMinAMPM('PM')">AM</button>
</div>



<div class="col-xs-4">
To <br>
   <select ng-model="timeMaxHr" ng-init="timeMaxHr='1'">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
      </select>
      :
      <select ng-model="timeMaxMin" ng-init="timeMaxMin='00'" >
                <option>00</option>
                <option>30</option>
      </select>
      <button type="button" ng-if="timeMaxAMPM=='PM'" ng-click="setMaxAMPM('AM')">PM</button>
      <button type="button"  ng-if="timeMaxAMPM=='AM'" ng-click="setMaxAMPM('PM')">AM</button>


</div>
</div>
  <br> <br>  <button ng-click="addAppt()">Add appointment time</button> <br><br>
Time difference is {{oneSlot.timediff}}
  
<div class="row">
<div class="col-sm-6">
  <div class="panel panel-default">
  <div class="panel-body" style="font-size:100%">
  <b><u>New Appointment Schedule Summary:</u></b><br><br>
  Maximum Number of appointments possible per week: <br>
Appointment time length: <br>



  </div></div>


</div>

<div class="col-sm-6">
  <div class="panel panel-default">
  <div class="panel-body" style="font-size:100%">
  <b><u>Current Appointment Schedule Summary:</u></b><br><br>
  Maximum Number of appointments possible per week: <br>
  Appointment time length:<br>
  Number of appointments:

  </div></div>


</div>


</div>
<div class="row">
  <div class="col-sm-12"><br><br>
  <button type="button"> Reset & Submit Appointment times to database</button>
<br>
<span style="font-size:85%"> Warning: This will reset all of your current appointments with your students.</span>
  </div>
</div>



</div>


</div>