<div ng-controller="studentadvisingappointmentController">

    <div class="page-header" style="font-size:120%">
        <!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->


        &nbsp;&nbsp;&nbsp;
        <a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
        &nbsp;&nbsp;&nbsp;

    </div>

<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
    Advising appointment times can be set in the interval of certain time limits. After setting up an advisement slot, submit the appointment request to the database so that your advisor is aware of your appointment request.
  </div>
</div>


	<div  ng-if="divshow!='1'">


	<div class="panel panel-default container" style="font-size:125%">
		
		<br>
		Choose advisor to schedule appointment with to continue<br><br>
		<ul>
		<li ng-repeat="advisor in advisors track by $index">
				<a href="#" ng-model="advisortoview" ng-click="setdivshowtrue($index)">{{advisor.firstname}} {{advisor.lastname}}</a>
		</li>			

		</ul> <br>
	</div>


</div>

<div  ng-if="divshow=='1'">
<br>

    <div class="btn-group">
        <label class="btn btn-primary" ng-model="dayindex" uib-btn-radio="'0'"><< Previous Week</label>
        <label class="btn btn-primary" ng-model="dayindex" uib-btn-radio="'1'"  ng-init="dayindex='1'">Current Week</label>
        <label class="btn btn-primary" ng-model="dayindex" uib-btn-radio="'2'">Next Week >></label>
         <label class="btn btn-primary" ng-model="dayindex" uib-btn-radio="'3'" >Week After >> >></label>
    </div>
    <div>


 <br><br>
<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
 <div class="row container">

 	 	<div class="col-sm-2" style="font-size:125%"> <u>
			<b>Color Codes:<b></u>
 	</div>

	<div class="col-sm-2 appointment_green"> 
			Slot available
 	</div>

 	<div class="col-sm-2 appointment_yellow"> 
			Slot taken 
 	</div>

 	<div class="col-sm-2 appointment_red"> 
			Slot Unavailable
 	</div>
 	</div> 	</div>
 

 
 </div>
 <br><br>
<b><u>
Advisor appointment times</u></b> <br><br>

  <div class="table">          
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>Times</th>
        <th ng-repeat="dateday in dateArray[dayindex]">
        		<div style="background-color:black;color:white;border:1px solid black;text-align: center;border-radius:5px" ng-if="dateday.getDate()==todayfullDay.getDate() && dateday.getMonth()==todayfullDay.getMonth()"> TODAY </div>
        		
     	{{dateday | date:'MMMM dd, yyyy'}} <br>
     	({{dateday | date:'EEEE'}}) <br>



     
     </th>

      </tr>
    </thead>
    <tbody>


<!--     	<tr ng-repeat="(key, value) in advisors[0].appointmentTimes"> -->
<tr ng-repeat="hour in advisortimes track by $index">
<!--   <td> <span ng-bind="integerdivValue" ng-init="integerdivValue=converInt($index)">{{$integerdivValue}}</span> : {{($index%4)*15}} </td>  -->
	<td>{{indextotime($index+1)}} to {{indextotime($index+2)}}</td>
 <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[0] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'0')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[1] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'1')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[2] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'2')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[3] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'3')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>

 <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[4] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'4')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[5] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'5')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[6] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'6')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[7] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'7')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>
  <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[8] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'8')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[9] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'9')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[10] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'10')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[11] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'11')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>
  <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[12] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'12')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[13] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'13')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[14] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'14')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[15] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'15')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>
  <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[16] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'16')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[17] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'17')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[18] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'18')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[19] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'19')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>
  <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[20] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'20')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[21] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'21')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[22] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'22')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[23] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'23')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>
  <td class="row">

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[24] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'24')">{{ indextotime($index+1) | limitTo:2 }}:00 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:15 </div>

 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[25] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'25')">{{ indextotime($index+1) | limitTo:2 }}:15 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:30 </div>


 	<div style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[26] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'26')">{{ indextotime($index+1) | limitTo:2 }}:30 <br>to<br> {{ indextotime($index+1) | limitTo:2 }}:45 </div>	


 	<div  style="border:1px solid black;cursor:pointer;" class="col-sm-6" ng-class="hour[27] ? 'appointment_green' : 'appointment_red'" ng-click="apptslotclick($index,'27')">{{ indextotime($index+1) | limitTo:2 }}:45 <br>to<br> {{ indextotime($index+2) | limitTo:2 }}:00 </div>

 </td>




</tr>
    </tbody>
  </table>
  </div>


  <br> <br> <br> <br>
 {{xx}}
<br>
 {{date | date:'MMMM dd, yyyy'}}
<br>


</div>
</div>