<div ng-controller="studentsummarycontroller">
{{student.firstname}} <br>
{{student._id}} <br>
{{student.registered}} <br>
as <br>

{{advisor.firstname}} <br>
{{advisor[0].lastname}} <br>

checksheet <br>

{{checksheet[0].name}} <br>

<div class="row">
	<div class="col-sm-4">
		<nvd3 options='options' data='data'></nvd3>
	</div>
	<div class="col-sm-4">
		<nvd3 options='options' data='data'></nvd3>
	</div>
	<div class="col-sm-4">
		<nvd3 options='options' data='data'></nvd3>
	</div>
	<div class="col-sm-4">
		<nvd3 options='options' data='data'></nvd3>
	</div>			
   	<div class="col-sm-4">
		xx
	</div>
	<div class="col-sm-4">
		<nvd3 options='options' data='data'></nvd3>
	</div>	
</div>



</div>