<div ng-controller="rootadvisorController">

<div class="page-header" style="font-size:120%"> 
<a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a>


&nbsp;&nbsp;&nbsp;
<a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
&nbsp;&nbsp;&nbsp;

</div>


<div class="col-sm-6 input-group" ng-show="showme">


     <span class="input-group-addon" id="basic-addon1">Number of advisors to add:</span>
  <input type="number" class="form-control" ng-model="numtoadd" aria-describedby="basic-addon1" max="50" min="1">
  
	<span class="input-group-btn" id="basic-addon1">
        <button class="btn btn-default" type="button" ng-click="showme=false">
	<i class="fa fa-fw fa-cancel"></i>Cancel
</button> </span>


</div>

<br><br>



<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     Advisors will be responsible for adding student, matching student and preparing checksheets. A random password will be generated and sent to the advisor along with their login information. Please make sure the advisor you are adding has gone through the documentation for KSM. 
  </div>
</div>
<form ng-submit="addAdvisors()" style="font-size:90%;">
<div class="container" ng-show="numtoadd==1" style="line-height:30px;">

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>First Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" autofocus="autofocus" ng-model="arraytoAdd[0].firstname" required ></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Last Name:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].lastname" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>ID (Unique):</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].id" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Username:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].username" required></div>
</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Password:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50"  ng-model="arraytoAdd[0].password" ng-init="arraytoAdd[0].password=generatepwd()"required>
     <input type="hidden" size="50"  ng-init="false" ng-model="arraytoAdd[0].registered" >
  </div> 
     <div class="col-sm-2"></div> <button type="button" ng-click="arraytoAdd[0].password=generatepwd()"> <i class="fa fa-fw fa-random"></i> Generate a different password</button> </div>
     <div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Email:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].email" required></div>
</div>
<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Phone:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].phone" required></div>
</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Department:</b> </label> </div>
  <div class="col-sm-4" style="font-size:125%"> 

      <select ng-model="arraytoAdd[0].department" style="width:300px" required>
                   <option ng-repeat="dpt in dpts" >{{dpt.name}}</option>
             </select> 
   
  </div>


</div>

<div class="row">
  <div class="col-sm-2">    <label style="font-size:125%"><b>Office:</b> </label> </div><div class="col-sm-4"> 
    <input type="text" size="50" ng-model="arraytoAdd[0].office" required></div>
</div>
<br><br>
</div>
<table ng-show="numtoadd>1" class="table table-bordered table-hover table-condensed" style="font-size:125%">
    <thead>
    <tr class="info">

		<th><i class="fa fa-fw fa-list-ol"></i></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID (Unique)</th>
        <th>Username</th>   
        <th>Email</th>       
        <th>Phone</th> 
        <th>Department</th>
        <th>Office</th>
              
		<th><i class="fa fa-fw fa-trash"></i></th>
        </tr>
  </thead>
  <tbody>
	<tr ng-repeat="i in newAdvisors(numtoadd) track by $index">

		<td> {{$index+1}}</td>
        <td><input type="text" class="form-control" ng-model="arraytoAdd[$index].firstname" placeholder="First Name" required></td>
        <td><input type="text" class="form-control" ng-model="arraytoAdd[$index].lastname" placeholder="Last Name" required></td>
        <td> <input type="text" class="form-control" ng-model="arraytoAdd[$index].id" placeholder="Unique ID" required></td>
        <td> <input class="form-control" ng-model="arraytoAdd[$index].username" placeholder="Username" required>
         <input class="form-control" type="hidden" ng-model="arraytoAdd[$index].password" ng-init="arraytoAdd[$index].password=generatepwd()" required></td>
        <td> <input class="form-control" ng-model="arraytoAdd[$index].email" placeholder="Email" required></td>
        <td> <input class="form-control" ng-model="arraytoAdd[$index].phone" placeholder="Phone" required></td>
        <td>     <select ng-model="arraytoAdd[$index].department" style="width:150px" required>
                   <option ng-repeat="dpt in dpts" >{{dpt.name}}</option>
             </select> 
        </td>
        <td> <input class="form-control" ng-model="arraytoAdd[$index].office" placeholder="Office" required>
          <input type="hidden" size="50"  ng-init="false" ng-model="arraytoAdd[$index].registered" ></td>
        <td><button type="button" ng-click="delnewAdvisor($index)"><i class="fa fa-fw fa-trash"></i></button></td>
    </tr>
</tbody></table>

<button style="font-size:125%" type="submit" >
	<i class="fa fa-fw fa-check"></i>Register & send login info to new root advisor(s)
</button></form></div>



