<div ng-controller="studentsettingscontroller">

<form ng-submit="updatestudentsettings()">
<div class="panel panel-warning">
	<div class="panel-heading"><b> Change your current password</b></div>
  <div class="panel-body">
    <p>
    	


<div class="row page-header">
  <div class="col-sm-3">    <label style="font-size:125%"><b>New Password:</b> </label> </div><div class="col-sm-4">

     <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="studentnewpassword" ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" class="form-control"  pattern=".{5,10}" required title="5 to 10 characters">
    
<br>
      <div class="form-group">
        <label>Password Strength</label>
        <password-strength ng-model="studentnewpassword"></password-strength>
      </div>
    </div>
  </div>
  
<div class="row">
  <div class="col-sm-3">    <label style="font-size:125%"><b>Confirm Password:</b> </label> </div><div class="col-sm-4">
  	<input type="password" name="password" id="password" ng-model="studentnewpassword2" ng-init="studentnewpassword2=''" class="form-control">
  	<br>
  	<div style="color:red" ng-if="studentnewpassword2!='' && studentnewpassword2!=studentnewpassword"> Passwords don't match</div>
  </div>
</div>

  

  
  </div>
  <div class="panel-footer"> 
<div class="row">
	  <div class="col-sm-1"></div>
		<button style="font-size:125%" type="submit" ng-disabled="studentnewpassword2!=studentnewpassword">Update my settings</button>
</div>
  </div> 
</div>
</form>

</div>