<div ng-controller="studentviewchecksheetcontroller">
 <div class="page-header" style="font-size:120%">
        <!-- <a href="#" ng-click = "settemplateURL('partials/radvisor.html')"> <i class="fa fa-fw fa-times"></i> Cancel registering advisor </a>&nbsp;&nbsp;&nbsp;
<a href="#"  ng-click="showme=true"> <i class="fa fa-fw fa-plus-circle"></i> Add multiple advisors </a> -->


        &nbsp;&nbsp;&nbsp;
        <a href=""> <i class="fa fa-fw fa-info-circle"></i> Help </a>
        &nbsp;&nbsp;&nbsp;

    </div>



<div  ng-if="divshow!='1'">
<div class="panel panel-default">
  <div class="panel-body" style="font-size:125%">
     You are about to view your checksheet. Checksheets can be downloaded as pdf. Click on modify checksheet tab to make changes to your checksheet. 
  </div>
</div>

	<div class="panel panel-default container" style="font-size:125%">
		
		<br>
		Choose a checksheet to continue<br><br>
		<ul>
		<li ng-repeat="checksheet in checksheets track by $index">
				<a href="#" ng-model="checksheettoview" ng-click="setdivshowtrue($index)">{{checksheet.name}}</a>
		</li>			

		</ul> <br>
	</div>


</div>


<div  ng-if="divshow=='1'">



<div class="row page-header">  <h4>{{checksheetinview.name}}</h4></div> <br>

<button style="font-size:135%" ng-click="printchecksheet()" confirm="WARNING: About to export checksheet as pdf. Are you sure?" confirm-ok="Yes" confirm-cancel="No" confirm-title="Exporting checksheet as pdf.."><i class="fa fa-print"></i> Download your checksheet as pdf</button>

<br><br>




<div  id="studentchecksheetdiv">




  <div class="panel panel-default">
    <div class="panel-heading"><b>Summary of {{checksheetinview.name}} for {{username}} {{lastname}} </b></div>
    <div class="panel-body">

     <b>Checksheet slots completed: {{complete}} /  {{complete+incomplete}} ({{(complete/(complete+incomplete))*100 | number : 0}}% completed)</b>
     <ul>
       <li ng-repeat="block in checksheetinview.blockid track by $index">
         {{block.name}} : {{blocksummarycomplete[$index]}}/{{blocksummarycomplete[$index]+ blocksummaryincomplete[$index]}} ({{(blocksummarycomplete[$index]/(blocksummarycomplete[$index]+blocksummaryincomplete[$index]))*100 | number : 0}}% completed)
       </li>
     </ul>
    </div>
  </div>




<br>
	<div class="panel panel-default row" style="font-size:125%" ng-repeat="block in checksheetinview.blockid track by $index">
		   <div class="panel-heading">{{block.name}} </div> 
		   <div class="container" ng-if="block.type=='Electives'"><b> Electives Choices: </b><br>
			<div class="col-sm-2" ng-repeat="class in block.electivechoices"> {{class.prefix}} {{class.suffix}}</div>
		   </div>
  
  <div class="panel-body">
	<div class="row">

  		<div class="col-sm-6" ng-repeat="slot in block.details" style="border:1px solid grey;border-style: outset;  border-radius: 5px; "> <u><b> {{$parent.$index+1}}.{{$index+1}}: {{slot.title}}</b></u>   <span ng-if="slot.subtitle" style="font-size:75%">({{slot.subtitle}})</span> <span style="color:red" class="pull-right" ng-show="isFilled($parent.$index,$index)"><i class="fa fa-times" uib-tooltip='Slot is not filled'></i></span>


  			<span style="color:green" class="pull-right" ng-show="!isFilled($parent.$index,$index)"><i class="fa fa-check" uib-tooltip='Slot is filled'></i></span>

  			
  			<br>
  		 <span style="font-size:90%">{{slot.description}} </span>
<br>
  		 <div class="row" style="margin-bottom:0px"> 
<!-- <input type="text" ng-model="checksheetdata[$parent.$index][$index].state"> -->

<div class="col-sm-5" style="font-size:90%;">
 <span><i class="fa fa-sticky-note"></i>
Note: </span>  {{checksheetdata[$parent.$index][$index].note}}
</div>

</div>
  		</div>

  	</div>
  </div>



	</div></div>






</div>


</div>